:root {
  --color-accent: #b0aea5;
  --color-accent-content: #141413;
  --color-base-100: #141413;
  --color-base-200: #1f1e1d;
  --color-base-300: #30302e;
  --color-base-content: #e8e6dc;
  --color-neutral: #3d3d3a;
  --color-neutral-content: #f5f4ed;
  --color-primary: #9c9a92;
  --color-primary-content: #141413;
  --color-secondary: #e8e6dc;
  --color-secondary-content: #141413;
}
